<div ng-controller="AddMovieController">
    <h1>Add movie</h1>
        <form name="addMovieForm">
        <input type="text" placeholder="Movie name" name="moviename" ng-model="moviename" required><br>
            <div ng-show="addMovieForm.moviename.$invalid && addMovieForm.moviename.$dirty">
                Field is required.
            </div>
        <input type="text" placeholder="Director" name="director" ng-model="director" required><br>
            <div ng-show="addMovieForm.director.$invalid && addMovieForm.director.$dirty">
                Field is required.
            </div>
        <input type="number" placeholder="Release year" name="releaseyear" ng-model="releaseyear" required><br>
            <div ng-show="addMovieForm.releaseyear.$invalid && addMovieForm.releaseyear.$dirty">
                Field is required.
            </div>
        <textarea type="text" placeholder="Description" name="description" ng-model="description" required></textarea><br>
            <div ng-show="addMovieForm.description.$invalid && addMovieForm.description.$dirty">
                Field is required.
            </div>
        <button ng-click="addMovie()" ng-disabled="addMovieForm.$invalid">Submit</button>
    </form>
</div>