<h1>Add movie</h1>
<form name="editMovieForm">
    <input type="text" placeholder="Movie name" name="moviename" ng-model="moviename" required><br>
    <div ng-show="editMovieForm.moviename.$invalid && editMovieForm.moviename.$dirty">
        Field is required.
    </div>
    <input type="text" placeholder="Director" name="director" ng-model="director" required><br>
    <div ng-show="editMovieForm.director.$invalid && editMovieForm.director.$dirty">
        Field is required.
    </div>
    <input type="number" placeholder="Release year" name="releaseyear" ng-model="releaseyear" required><br>
    <div ng-show="editMovieForm.releaseyear.$invalid && editMovieForm.releaseyear.$dirty">
        Field is required.
    </div>
    <textarea type="text" placeholder="Description" name="description" ng-model="description" required></textarea><br>
    <div ng-show="editMovieForm.description.$invalid && editMovieForm.description.$dirty">
        Field is required.
    </div>
    <button ng-click="addMovie()" ng-disabled="editMovieForm.$invalid">Submit</button>
</form>