<form name="registerUserForm">
    <h1>Register user</h1>
    <p ng-show="message">{{message}}</p>
    <input placeholder="Email" name="email" type="email" ng-model="newEmail" required>
    <div ng-show="registerUserForm.email.$invalid && registerUserForm.email.$dirty">
        Email is required.
    </div>

    <input placeholder="Password" name="password" type="password" ng-model="newPassword" required>
    <div ng-show="registerUserForm.password.$invalid && registerUserForm.password.$dirty">
        Password is required.
    </div>
    <button type="submit" ng-click="register()" ng-disabled="registerUserForm.$invalid">Register</button>
</form>